#Dashboard {
    section {
        margin: 1em;
        border: 1px solid lightgrey;
    }
    .action-card {
        border: 1px solid lightgrey;
        border-radius: 9px;
        padding: 1em;
        .top-div {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5em;
                font-size: 2em;
                color: var(--green)
            }
        }
        &:hover {
            background: var(--light-green);
            cursor: pointer;
        }
    }
}