#Dashboard {
    * {
        margin: 0;
        padding: .2em;
    }
    section {
        margin: 1em;
    }
    .action-card {
        border: 1px solid lightgrey;
        border-radius: 9px;
        padding: 1em;
        .top-div {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5em;
                font-size: 2em;
                color: var(--green)
            }
        }
        &:hover {
            background: var(--light-green);
            cursor: pointer;
        }
    }
    .url-cards-div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1em;
        grid-auto-rows: 1fr;
        padding: 1em 1.5em;
        #UrlCard {
            border: 1px solid var(--green);
            padding: 1.2em;
            word-break: break-all;     
            display: flex;
            flex-direction: column;
            justify-content: space-between;         
            .info-div {
              
            }
        }
    }
    .check-section {
        margin: 0;     
        form {
            position: unset;
                   
        }

    }
}