#Price {
    margin: var(--main-margin);
    text-align: center;
}

.price-card-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
    margin: 1em auto;
    & > div:first-child {
        display: none;
    }
    .PriceCard {
        border: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .title {
            background: var(--bg-grey);
            padding: 1em !important;
        }
        .price {
            font-size: 3.1em;
            font-weight: 900;
        }
        a {
            border: none;
            cursor: pointer;
            background: var(--green);
            color: #fff;
            padding: 1em;
            margin: 1em;
        }
    }
}